<footer class="bg-dark text-light py-4">
    <div class="container text-center text-md-left">
      <div class="row">
        <!-- Contact Information -->
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">Contact Us</h5>
          <p>
            <strong>Address:</strong><br>
            1234 Auto Repair Blvd,<br>
            City, State, ZIP
          </p>
          <p>
            <strong>Phone:</strong><br>
            <a href="tel:111111111" class="text-light">111-111-111</a>
          </p>
          <p>
            <strong>Email:</strong><br>
            <a href="mailto:info@autorepair.com" class="text-light">info&#64;autorepair.com</a>
          </p>
        </div>
  
        <!-- Quick Links -->
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/home" class="text-light">Home</a></li>
            <li><a routerLink="/service" class="text-light">Services</a></li>
            <li><a routerLink="/about-us" class="text-light">About Us</a></li>
            <li><a routerLink="/contact" class="text-light">Contact</a></li>
            <li><a routerLink="/request-a-quote" class="text-light">Get A Quote</a></li>
          </ul>
        </div>
  
        <!-- Social Media -->
        <div class="col-md-4 mb-3">
          <h5 class="text-uppercase">Follow Us</h5>
          <a href="https://www.facebook.com/profile.php?id=100077942270465" target="_blank" class="text-light me-3"><i class="fab fa-facebook-f"></i> Facebook</a><br>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i> Twitter</a><br>
          <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
      </div>
  
      <!-- Copyright -->
      <div class="text-center mt-4">
        <p class="mb-0">&copy; 2024 Auto Repair. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  